asposestorage==1.0.2
numpy==2.0.0
opencv_python==4.8.1.78
pandas==2.2.2
torch==2.3.1
tqdm==4.66.2
tqdm==4.65.0
librosa==0.10.1
matplotlib==3.8.3
moviepy==1.0.3
numpy==2.0.0
scikit_learn==1.4.1.post1
scipy==1.13.1
tensorflow==2.15.0