<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Files for {{year}}/{{month}}/{{day}}/{{hour}}</h1>
    <div style="display: flex;">
        <div style="flex: 1;">
            <h2>Channel 0</h2>
            <ul>
                {% for file in files_channel_0 %}
                    <li><a href="{{ url_for('video', experiment_name='Exp_' + day + '_' + month + '_' + year + '_' + hour + '_channel_0', video_name=file) }}">{{ file }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div style="flex: 1;">
            <h2>Channel 1</h2>
            <ul>
                {% for file in files_channel_1 %}
                    <li><a href="{{ url_for('video', experiment_name='Exp_' + day + '_' + month + '_' + year + '_' + hour + '_channel_1', video_name=file) }}">{{ file }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
