/* Style for the video player */
#videoPlayer {
    width: 80%; /* Make the video player take the full width of its container */
}

/* Style for the additional image */
#additionalImage {
    /* display: none; Initially hide the additional image */
    max-width: 10%; /* Make sure the image doesn't exceed its container's width */
    height: auto; /* Maintain aspect ratio */
    margin-top: 1px; /* Add some space between the video player and the image */
}

