 #videoContainer {
            width: 75%; /* La vidéo occupe 70% de la largeur de la page */
            margin: 0 auto; /* Centrer la vidéo horizontalement */
            float: left; /* Flotter la vidéo à gauche */
            margin-top: 1.5vw;
            margin-left: 1vw;
        }
	

        .form-container-right {
            float: right;
            margin-top: 1vw; /* 50px relative to viewport width */
            margin-right: 1vw; /* 50px relative to viewport width */
            font-size: 1.2em;
        }
        #randomVideoButton {
        font-size: 2vw; /* 24px relative to viewport width */
        background-color: red;
        color: white;
        padding: 1.5vw 3vw; /* 15px 30px relative to viewport width */
        border: none;
        border-radius: 1vw; /* 10px relative to viewport width */
        cursor: pointer;
        margin-top: 1vw; /* 50px relative to viewport width */
        margin-right: 1vw;
        margin-left: 4vw
        }
    
        #randomVideoButton:hover {
            background-color: darkred;
        }
        /* Style CSS pour le texte par défaut */
        #defaultText {
            font-size: 2vw;
            color: #555;
            text-align: center;
            margin-top: 5vw;
        }
        .response-buttons {
            margin-top: 2vw;
            text-align: center;
        }

        .response-buttons button {
            font-size: 1.5vw;
            padding: 1vw 2vw;
            margin: 0.5vw;
            cursor: pointer;
            border: none;
            border-radius: 1vw;
        }

        .present {
            background-color: green;
            color: white;
        }

        .not-present {
            background-color: orange;
            color: white;
        }
