<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player</title>
</head>
<body>
    <h1>Video Player</h1>
    <video controls>
        <source src="{{ video_absolute_path }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <h2>Associated Images</h2>
    <div id="images">
        {% for image in images %}
            <img src="{{ url_for('static', filename=image) }}" alt="Associated Image">
        {% endfor %}
    </div>
</body>
</html>
