/* Add this to your styles_dolphin.css file */
.container {
    display: flex;
}

.content {
    flex: 1;
    padding-right: 20px; /* Adjust spacing between columns */
}

.sidebar {
    flex: 1;
}

.image-list {
    margin-top: 0;
    padding-left: 20px;
    list-style-type: none;
}

.image-list li {
    margin-bottom: 10px; /* Adjust spacing between images */
}

