recordings
/users/zfne/emanuell/Documents/GitHub/Dolphins/DNN_whistle_detection/image*
/users/zfne/emanuell/Documents/GitHub/Dolphins/DNN_whistle_detection/extraits
/users/zfne/emanuell/Documents/GitHub/Dolphins/DNN_whistle_detection/recordings_

